In [1]:
import pandas as pd
import numpy as np

# Dealing with the data

In [6]:
data = pd.read_csv('bodyfat.csv')
data.shape
data.head()

,Density,BodyFat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
0,1.0708,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,1.0853,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,1.0414,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,1.0751,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,1.0340,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7

In [8]:
#Standardize header names.
def coloumn_names_lwr(data):
    data.columns = map(str.lower, data.columns)
    data.head()
    #data.columns = [x.lower() for x in data.columns]
    
def coloumn_names_captl(data):
    data.columns = map(str.capitalize, data.columns)
    data.head()
    #data.columns = [x.capitalize() for x in data.columns]

In [33]:
#def check_missing_data(data):
if(data.isna().sum().any()):
    print('no missing values')
    
print(data.drop_duplicates())

#def check_missing_values(data)

     density  bodyfat  age  weight  height  neck  chest  abdomen    hip  \
0     1.0708     12.3   23   31.66   67.75  36.2   93.1     85.2   94.5
1     1.0853      6.1   22   35.55   72.25  38.5   93.6     83.0   98.7
2     1.0414     25.3   22   31.60   66.25  34.0   95.8     87.9   99.2
3     1.0751     10.4   26   37.91   72.25  37.4  101.8     86.4  101.2
4     1.0340     28.7   24   37.81   71.25  34.4   97.3    100.0  101.9
..       ...      ...  ...     ...     ...   ...    ...      ...    ...
247   1.0736     11.0   70   27.55   67.00  34.9   89.2     83.6   88.8
248   1.0236     33.6   72   41.25   69.75  40.9  108.5    105.0  104.5
249   1.0328     29.3   72   38.32   66.00  38.9  111.1    111.5  101.7
250   1.0399     26.0   72   39.14   70.50  38.9  108.3    101.3   97.8
251   1.0271     31.9   74   42.58   70.00  40.8  112.4    108.5  107.1

     thigh  knee  ankle  biceps  forearm  wrist
0     59.0  37.3   21.9    32.0     27.4   17.1
1     58.7  37.3   23.4    30.5     28.9   18.2
2     59.6  38.9   24.0    28.8     25.2   16.6
3     60.1  37.3   22.8    32.4     29.4   18.2
4     63.2  42.2   24.0    32.2     27.7   17.7
..     ...   ...    ...     ...      ...    ...
247   49.6  34.8   21.5    25.6     25.7   18.5
248   59.6  40.8   23.2    35.2     28.6   20.1
249   60.3  37.3   21.5    31.3     27.2   18.0
250   56.0  41.6   22.7    30.5     29.4   19.8
251   59.3  42.2   24.6    33.7     30.0   20.9

[252 rows x 15 columns]

In [28]:
#numercial and categorical data

numerical_values = pd.DataFrame()
continuous_values = pd.DataFrame()
categorical_values = pd.DataFrame()

def check_dataypes(data):
    numerical = data.select_dtypes(np.number)
    numerical_continuous = data.select_dtypes(include=['float64'])
    categorical = data.select_dtypes(object)
    return numerical,numerical_continuous,categorical

Omitting the density coloumn on purpose because to predict the body fat percentage of a person based on the circumferential measurements already available, which is good enough to predict with so much available data.

I will, create Model only with these data, and predict again with my personal data set for the information randomly to validate the model.

Fat (%) = [(4*95/density) -4.51 x 100]

source:https://www.cambridge.org/core/services/aop-cambridge-core/content/view/DA80501B784742B9B2F4F454BDEE923B/S0007114567000728a.pdf/the-assessment-of-the-amount-of-fat-in-the-human-body-from-measurements-of-skinfold-thickness.pdf

# Exploring the data

In [29]:
#converting the dataset to metric system
def convert_weight_kg(data):
    data['weight']=data['weight'].apply(lambda x : round((x * 0.453),2))
    
def convert_inch_to_cm(data):
    #drop weight, density and body fat percentage
    # 12 inches --> 30 cm
    #formula X cm = [30/12] * input inches
    df_drops = data[['density','bodyfat','age','weight']]
    df2 = data.drop(['density','bodyfat','age','weight'], axis=1)
    df2 = df2.apply(lambda x : x * 2.5)
    data = pd.concat([df_drops, df2], axis=1, join="outer")
    #data = data.merge(df2)
    return data

In [30]:
pd.set_option('display.max_columns', None)

In [32]:
# Fucntion calls and declarations
numerical_values = pd.DataFrame()
continuous_values = pd.DataFrame()
categorical_values = pd.DataFrame()
coloumn_names_lwr(data)
check_missing_data(data)
numerical_values,continuous_values,categorical_values = check_dataypes(data)
convert_weight_kg(data)
convert_inch_to_cm(data)
data

#numerical_values.head(20)

     density  bodyfat  age  weight  height  neck  chest  abdomen    hip  \
0     1.0708     12.3   23   69.88   67.75  36.2   93.1     85.2   94.5
1     1.0853      6.1   22   78.48   72.25  38.5   93.6     83.0   98.7
2     1.0414     25.3   22   69.76   66.25  34.0   95.8     87.9   99.2
3     1.0751     10.4   26   83.69   72.25  37.4  101.8     86.4  101.2
4     1.0340     28.7   24   83.47   71.25  34.4   97.3    100.0  101.9
..       ...      ...  ...     ...     ...   ...    ...      ...    ...
247   1.0736     11.0   70   60.82   67.00  34.9   89.2     83.6   88.8
248   1.0236     33.6   72   91.05   69.75  40.9  108.5    105.0  104.5
249   1.0328     29.3   72   84.60   66.00  38.9  111.1    111.5  101.7
250   1.0399     26.0   72   86.41   70.50  38.9  108.3    101.3   97.8
251   1.0271     31.9   74   94.00   70.00  40.8  112.4    108.5  107.1

     thigh  knee  ankle  biceps  forearm  wrist
0     59.0  37.3   21.9    32.0     27.4   17.1
1     58.7  37.3   23.4    30.5     28.9   18.2
2     59.6  38.9   24.0    28.8     25.2   16.6
3     60.1  37.3   22.8    32.4     29.4   18.2
4     63.2  42.2   24.0    32.2     27.7   17.7
..     ...   ...    ...     ...      ...    ...
247   49.6  34.8   21.5    25.6     25.7   18.5
248   59.6  40.8   23.2    35.2     28.6   20.1
249   60.3  37.3   21.5    31.3     27.2   18.0
250   56.0  41.6   22.7    30.5     29.4   19.8
251   59.3  42.2   24.6    33.7     30.0   20.9

[252 rows x 15 columns]

,density,bodyfat,age,weight,height,neck,chest,abdomen,hip,thigh,knee,ankle,biceps,forearm,wrist
0,1.0708,12.3,23,31.66,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1
1,1.0853,6.1,22,35.55,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,1.0414,25.3,22,31.60,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6
3,1.0751,10.4,26,37.91,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,1.0340,28.7,24,37.81,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,1.0736,11.0,70,27.55,67.00,34.9,89.2,83.6,88.8,49.6,34.8,21.5,25.6,25.7,18.5
248,1.0236,33.6,72,41.25,69.75,40.9,108.5,105.0,104.5,59.6,40.8,23.2,35.2,28.6,20.1
249,1.0328,29.3,72,38.32,66.00,38.9,111.1,111.5,101.7,60.3,37.3,21.5,31.3,27.2,18.0
250,1.0399,26.0,72,39.14,70.50,38.9,108.3,101.3,97.8,56.0,41.6,22.7,30.5,29.4,19.8
251,1.0271,31.9,74,42.58,70.00,40.8,112.4,108.5,107.1,59.3,42.2,24.6,33.7,30.0,20.9